<header>
    <div class="blue">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
       <p>{{'messageLang'| translate}}</p> 
       <button (click)="en()"> en </button>
       <button (click)="sr()"> sr </button>

        <ul class="navbar-nav">
            <button  type="button" class="btn btn-primary"><a routerLink="/bitCoin">Bitkoin</a></button> 
 
            <button  type="button" class="btn btn-primary"><a routerLink="/nikola">Nikola</a></button> 
            <button   type="button" class="btn btn-primary"><a routerLink="/tabela">Tabela</a></button> 
            <button   type="button" class="btn btn-primary"><a routerLink="/products">Products</a></button> 
            <button   type="button" class="btn btn-primary"><a routerLink="/newModule">new module</a></button> 
            <p> {{auth.username}}</p>
              
             <button  type="button" class="btn btn-primary" (click)="auth.LogOut()"><a routerLink="/auth">Log Out</a></button>  
            
           <app-izmena> </app-izmena>
            
        </ul>

       
    </nav>
</div>
</header> 
<router-outlet (activate)="childActivated($event)"></router-outlet>